a {
  text-decoration: none;
}
a.title-link-real {
  color: #FFF;
  font-weight: 700;
  margin-right: 10px;
}
a.title-link span{
  color: #FFF;
  font-weight: 700;
}
*, body, h6{
    font-family:-apple-system,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
.card-wide.mdl-card {
  min-height: 60px;
}
.card-join-pyhub {
  background: url('/static/join.png') center / cover;
}
.card-join-pyhub-wrap {
  padding-top: 32px;
}
.pythoners{
  font-size: 1.5em;
}

.mdl-demo .mdl-layout__tab-bar-button {
  display: none;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.mdl-layout__tab-bar-container {
  overflow: visible;
}
.mdl-demo .mdl-layout__tab-bar-container {
  height: 45px;
}
.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 45px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 45px;
  line-height: 45px;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  height: 4px;
}
/*.mdl-demo #add {
  position: absolute;
  right: 40px;
  top: 23px;
  z-index: 999;
}*/

/* msg box */
.msg-spinner-container {
  text-align: center;
}
ul.msg-list {
  min-height: 150px;
  max-height: 400px;
  overflow-y: scroll;
}
ul.msg-list li.msg_list__item {
  padding: 4px 16px;
  min-height: 0px;
  height: auto;
}
ul.msg-list li.msg_list__item span {
  height: auto;
  max-width: 180px;
}
button#btn_load_more {
  width: 100%;
  height: 40px;
}
span.link-host {
  color: #acc;
  font-size: 10px;
  font-style: italic;
}
/*footer*/
ul.mdl-mega-footer__link-list li i{
  font-size: 14px;
}
ul.mdl-mega-footer__link-list li a i{
  font-size: 14px;
}
#scroll-top {
  position: fixed;
  display: none;
  left: 0;
  bottom: 0;
  margin-left: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
@media only screen and (min-width:851px){
  #scroll-top {display: block}
}

div.action-btns {
  padding: 0px;
  margin: 0px;
}
