a {
    text-decoration: none;
}
*, body, h6{
    font-family:-apple-system,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
.card-wide.mdl-card {
  min-height: 60px;
}
.card-join-pyhub {
  background: url('/static/join.png') center / cover;
}
.card-join-pyhub-wrap {
  padding-top: 32px;
}
.pythoners{
  font-size: 1.5em;
}
