<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}} - Python头条</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="PyHub,Python头条,Python开发者中心,Python开发者平台,Python开发者社区,程序员,极客,技术,开源,编程" />
    <link rel="alternate icon" type="image/png" href="{{ static_url('snakex64.ico') }}" />
    <link rel="apple-touch-icon" href="{{ static_url('snake.ico') }}" />
    <link href="https://cdn.bootcss.com/material-design-icons/2.2.0/iconfont/material-icons.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/material-design-lite/1.1.1/material.min.css" rel="stylesheet">
    <link href="{{ static_url('app.css') }}" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/material-design-lite/1.1.1/material.min.js"></script>
    {% block metas %}
    {% end %}
</head>
<body id="top">
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-demo mdl-layout mdl-js-layout mdl-layout--fixed-header ">
  <header class="mdl-layout__header mdl-layout__header--waterfall mdl-color--primary">
    <div class="mdl-layout__header-row">
      {% block backhome %}
      {% end %}
      <!-- Title -->
      <a href="/" title="{{ title }}" class="title-link">
        <span class="mdl-layout-title">{% if len(title) < 15 %} {{ title }} {% else %} {{ title[:15] }}... {% end %}</span>
      </a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation large-screen-only ">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="add">
          <i class="material-icons">add</i>
        </button>
          {% if not uid %}
          <a class="mdl-navigation__link" href="{{ login_url }}">GitHub 登录</a>
          {% else %}
          <a class="mdl-navigation__link" href="/u/{{ uid }}">{{ nick }}</a>
          <a href="/logout" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">exit_to_app</i>
          </a>
          {% end %}
      </nav>
    </div>
    {% block tabs%}
    {% end %}
  </header>
  <div class="mdl-layout__drawer">
    <a href="/" class="mdl-layout-title">{{title}} - Python头条</span>
    <nav class="mdl-navigation">
      {% if not uid %}
      <a class="mdl-navigation__link" href="{{ login_url }}">GitHub 登录</a>
      {% else %}
      <a class="mdl-navigation__link" href="/u/{{ uid }}">{{ nick }}</a>
      <a class="mdl-navigation__link" href='/logout'>登出</a>
      {% end %}
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->
      {% block content %}
      {% end %}
    </div>
  </main>
</div>

<div id="login-toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text" ></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
<script>
(function() {
  'use strict';
  var snackbarContainer = document.querySelector('#login-toast');
  var showToastButton = document.querySelector('#add');
  window.toast = function (msg) {
    var data = {message: msg || '请先登录！'};
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
  }
  showToastButton.addEventListener('click', function() {
    'use strict';
    var uid = {% if uid %} '{{uid}}' {% else %} undefined {% end %};
    if (!uid) {
      toast();
    } else {
      window.location = window.location.origin + '/new';
    }
  });
}());
</script>
<!-- <a href="#top" id="scroll-top" class="mdl-button mdl--large-screen-only mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">airplanemode_active</i></a> -->
<script>
  (function () {
    $("#scroll-top").click(function () {
      // window.scrollTo(0,0);
      // $("body").animate({ scrollTop: 0 }, "slow");
      $('.mdl-layout__container').animate({ scrollTop: 0 }, "slow");
      return false;
    });
  })();
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42017166-8', 'auto');
  ga('send', 'pageview');
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body>
</html>
