{% extends "base.html"  %}

{% block tabs%}
<!-- Tabs -->
<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
  <a href="#share" class="mdl-layout__tab is-active">实时热门</a>
  <a href="#pin" class="mdl-layout__tab">每日推荐</a>
  <a href="#topic" class="mdl-layout__tab">专题分类</a>
</div>

<div id="login-toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
<script>
(function() {
  'use strict';
  var snackbarContainer = document.querySelector('#login-toast');
  var showToastButton = document.querySelector('#add');
  window.toast = function (msg) {
      alert(msg || '请先登录！')
    var data = {message: msg || '请先登录！'};
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
  }
  showToastButton.addEventListener('click', function() {
    'use strict';
    var uid = {% if uid %} '{{uid}}' {% else %} undefined {% end %};
    if (!uid) {
      toast();
    } else {
      window.location = window.location.origin + '/new';
    }
  });
}());
</script>
{% end %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
    <section class="mdl-layout__tab-panel is-active" id="share">
      <div class="page-content">
        <share></share>
      </div>
    </section>
    <section class="mdl-layout__tab-panel " id="pin">
      <div class="page-content">
        <pin></pin>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="topic">
      <div class="page-content">
        <topic></topic>
      </div>
    </section>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
    <right-side></right-side>
    <!-- right-side -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9670543188529523"
         data-ad-slot="9186531296"
         data-ad-format="auto"></ins>
  </div>
</div>

<p-footer></p-footer>
<script type="riot/tag">
  <p-footer>
    <footer class="mdl-mega-footer">
      <div class="mdl-mega-footer__middle-section">
        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">About</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href=""><i class="material-icons" >language</i>PyHub </a></li>
            <li><a href=""><i class="material-icons" >adb</i>Yushneng </a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Contact</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><i class="material-icons">email</i> Admin#pyhub.cc</li>
            <li><i class="material-icons">question_answer</i> Py_Hub</li>
            <li><i class="material-icons">phone</i> (+86) 170--------</li>
          </ul>
        </div>
      </div>
      <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">PyHub.cc</div>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="https://github.com/PyHubCC/pyhub.cc">源码@GitHub</a></li>
          <li><a href="http://rainy.im/donate">捐助本站</a></li>
          <li><a href="http://tips.pyhub.cc">PyTips 系列教程</a></li>
        </ul>
      </div>
    </footer>
  </p-footer>
</script>
    <!-- <script type="riot/tag" src="{{ static_url('app.tag') }}" ></script> -->
    <script type="riot/tag" src="{{ static_url('share.tag') }}" ></script>
    <script type="riot/tag" src="{{ static_url('pin.tag') }}" ></script>
    <script type="riot/tag" src="{{ static_url('topic.tag') }}" ></script>
    <script type="riot/tag" src="{{ static_url('right-side.tag') }}" ></script>
    <script src="{{ static_url('riot+compiler.min.js') }}" ></script>
    <script>
        riot.mount('share', {
            // links: JSON.parse('{% raw json %}'),
            links: {% raw json %},
            page_no: 1,
            admin: {{ admin }},
            uid: {% if uid %} '{{uid}}' {% else %} undefined {% end %},
            toast: toast,
        })
        riot.mount('pin',{})
        riot.mount('topic',{})
        riot.mount('right-side', {
          users: {% raw users %},
          events: JSON.parse('{% raw events %}'),
          uid: {% if uid %} '{{uid}}' {% else %} undefined {% end %}
        })
        riot.mount('p-footer', {})
    </script>
{% end %}
