{% extends "base.html"  %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
    <main>
      {% for user in topusers %}
      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="margin-top: 20px; background: url('{{user['avatar']}}');">
        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone">
        </header>
        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <div class="mdl-card__supporting-text">
            <h4><a href="/u/{{user['uid']}}" >{{user['nick']}}</a></h4>
            <p>加入时间：{{user['date']}}</p>
            <p><a href="https://github.com/{{user['uid']}}" style="color:rgba(0,0,0,.54);">GitHub: {{user['uid']}}</a></p>
          </div>
          <div class="mdl-card__actions">
            <a href="/u/{{user['uid']}}" class="mdl-button">积分：{{user['points']}} <i>Py</i></a>
          </div>
        </div>
      </section>
      {% end%}
    </main>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
{% end %}
