{% extends "base.html"  %}

{% block tabs %}
<!-- Tabs -->
<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
  <a href="#favs" class="mdl-layout__tab is-active">收藏</a>
  <a href="#share" class="mdl-layout__tab">分享</a>
  {% if is_self %}
  <a href="#account" class="mdl-layout__tab">积分</a>
  {% end %}
</div>
{% end %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
    <main class="mdl-layout__content">
      <section class="mdl-layout__tab-panel is-active" id="favs">
        <fav-list></fav-list>
      </section>
      {% if is_self %}
      <section class="mdl-layout__tab-panel " id="account">
        <points></points>
      </section>
      {% end %}
    </main>
  </div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-phone">
    <div class="page-content mdl-list mdl-cell--10-col mdl-cell--12-col-phone card-join-pyhub-wrap">
      <div class="mdl-card mdl-cell--8-col-phone mdl-shadow--2dp avatar-card-title" >
        <div class="mdl-card__title mdl-card--expand" style="background: url('{{user['avatar']}}') center / cover;">
          <h2 class="mdl-card__title-text">{{ user['nick'] }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          加入时间：{{ user['date'] }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/topusers">
            积分：{{ user['points'] }} <i>Py</i>
          </a>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/{{user['uid']}}" target="_blank">
            <i class="material-icons">link</i> GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <script type="riot/tag">
    <fav-list>
      <ul class="mdl-list" >
          <li each={ items } class="mdl-list__item">
          <div class="card-wide mdl-card mdl-shadow--4dp mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                  <a href="{ link }" target="_blank"><h6>{title} <br/><span class="link-host"> { host } via {via} </h6></a>
                  <p>
                      {abstract}
                  </p>
              </div>
              <div class="mdl-card__actions mdl-card--border mdl-grid">
                <div class="mdl-grid action-btns">
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/py/{ _id }">
                      <i class="material-icons">share</i>
                    </a>
                  </div>
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" show={ is_self } onclick={ unpublic }>
                      <i class="material-icons" >delete_forever</i>
                    </a>
                  </div>
                </div>
              </div>
          </div>
          </li>
      </ul>
      // logic here
      this.items = opts.links;
      this.is_self = opts.is_self;
      this.unpublic = function(e) {
        var self = this;
        if(confirm('取消收藏 <'+ this.title +'> ?')){
            var index = self.items.indexOf(e.item);
            self.items.splice(index, 1);
          $.post('/u/', {'action': 'DEL', '_id': self._id}, function(json){
          })
        }
      }
    </fav-list>
  </script>
  <script type='riot/tag'>
    <points>
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="large-screen-only">时间</th>
            <th>描述</th>
            <th>数额</th>
            <th>余额</th>
          </tr>
        </thead>
        <tbody>
          <tr each={points}>
            <td class="large-screen-only" style="color:{ points > 0 ? 'black' : 'red'}">{timestamp}</td>
            <td style="color:{ points > 0 ? 'black' : 'red'}">{action}</td>
            <td style="color:{ points > 0 ? 'black' : 'red'}">{points}</td>
            <td style="color:{ points > 0 ? 'black' : 'red'}">{balance}</td>
          </tr>
        </tbody>
      </table>
    // js
    this.points = [];
    this.on('mount', function () {
      var self = this;
      $.post('/api/v1/points', {}, function (res) {
        self.points = res.points;
        self.update();
      });
    });
    </points>
  </script>
  <script src="{{ static_url('riot+compiler.min.js') }}" ></script>
  <script>
    riot.mount('fav-list', {
      links: {% raw favs %},
      page_no: 1,
      is_self: {% raw is_self %}
    });
    {% if is_self %}
    riot.mount('points', {})
    {% end %}
  </script>
{% end %}
