{% extends "base.html"  %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
    <fav-list></fav-list>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>
  <script type="riot/tag">
    <fav-list>
      <ul class="mdl-list" >
          <li each={ items } class="mdl-list__item">
          <div class="card-wide mdl-card mdl-shadow--4dp mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                  <a href="{ link }" target="_blank"><h6>{title} <br/><span class="link-host"> { host } via {via} </h6></a>
                  <p>
                      {abstract}
                  </p>
              </div>
              <div class="mdl-card__actions mdl-card--border mdl-grid">
                <div class="mdl-grid action-btns">
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/py/{ _id }">
                      <i class="material-icons">share</i>
                    </a>
                  </div>
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" show={ is_self } onclick={ unpublic }>
                      <i class="material-icons" >delete_forever</i>
                    </a>
                  </div>
                </div>
              </div>
          </div>
          </li>
      </ul>
      // logic here
      this.items = opts.links;
      this.is_self = opts.is_self;
      this.unpublic = function(e) {
        var self = this;
        if(confirm('取消收藏 <'+ this.title +'> ?')){
            var index = self.items.indexOf(e.item);
            self.items.splice(index, 1);
          $.post('/u/', {'action': 'DEL', '_id': self._id}, function(json){
          })
        }
      }
    </fav-list>
  </script>
  <script src="{{ static_url('riot+compiler.min.js') }}" ></script>
  <script>
    riot.mount('fav-list', {
      links: {% raw favs %},
      page_no: 1,
      is_self: {% raw is_self %}
    });
  </script>
{% end %}
